![image](http://static1.squarespace.com/static/570c9f9986db43b6bdd1bc72/t/570d19280442628cdb632273/1494519196089)

This is a notebook created by Joseph Kambourakis as part of the application process for Authess.

# Step One: Load libraries

In [1]:
from pyspark.sql import SparkSession
spark = SparkSession(sc)

# Step Two: Load data file from S3

In [2]:
path_to_input = 's3a://authesskambourakis/*'

In [30]:
events = spark.read.json('s3a://authesskambourakis/*')

Py4JJavaError: An error occurred while calling o267.json.
: com.amazonaws.SdkClientException: Unable to load AWS credentials from any provider in the chain
	at com.amazonaws.auth.AWSCredentialsProviderChain.getCredentials(AWSCredentialsProviderChain.java:131)
	at com.amazonaws.http.AmazonHttpClient$RequestExecutor.getCredentialsFromContext(AmazonHttpClient.java:1044)
	at com.amazonaws.http.AmazonHttpClient$RequestExecutor.runBeforeRequestHandlers(AmazonHttpClient.java:693)
	at com.amazonaws.http.AmazonHttpClient$RequestExecutor.doExecute(AmazonHttpClient.java:657)
	at com.amazonaws.http.AmazonHttpClient$RequestExecutor.executeWithTimer(AmazonHttpClient.java:650)
	at com.amazonaws.http.AmazonHttpClient$RequestExecutor.execute(AmazonHttpClient.java:633)
	at com.amazonaws.http.AmazonHttpClient$RequestExecutor.access$300(AmazonHttpClient.java:601)
	at com.amazonaws.http.AmazonHttpClient$RequestExecutionBuilderImpl.execute(AmazonHttpClient.java:583)
	at com.amazonaws.http.AmazonHttpClient.execute(AmazonHttpClient.java:447)
	at com.amazonaws.services.s3.AmazonS3Client.invoke(AmazonS3Client.java:4031)
	at com.amazonaws.services.s3.AmazonS3Client.getBucketRegionViaHeadRequest(AmazonS3Client.java:4470)
	at com.amazonaws.services.s3.AmazonS3Client.fetchRegionFromCache(AmazonS3Client.java:4444)
	at com.amazonaws.services.s3.AmazonS3Client.invoke(AmazonS3Client.java:4016)
	at com.amazonaws.services.s3.AmazonS3Client.headBucket(AmazonS3Client.java:1236)
	at com.amazonaws.services.s3.AmazonS3Client.doesBucketExist(AmazonS3Client.java:1193)
	at org.apache.hadoop.fs.s3a.S3AFileSystem.initialize(S3AFileSystem.java:301)
	at org.apache.hadoop.fs.FileSystem.createFileSystem(FileSystem.java:2669)
	at org.apache.hadoop.fs.FileSystem.access$200(FileSystem.java:94)
	at org.apache.hadoop.fs.FileSystem$Cache.getInternal(FileSystem.java:2703)
	at org.apache.hadoop.fs.FileSystem$Cache.get(FileSystem.java:2685)
	at org.apache.hadoop.fs.FileSystem.get(FileSystem.java:373)
	at org.apache.hadoop.fs.Path.getFileSystem(Path.java:295)
	at org.apache.spark.sql.execution.datasources.DataSource$$anonfun$12.apply(DataSource.scala:381)
	at org.apache.spark.sql.execution.datasources.DataSource$$anonfun$12.apply(DataSource.scala:379)
	at scala.collection.TraversableLike$$anonfun$flatMap$1.apply(TraversableLike.scala:241)
	at scala.collection.TraversableLike$$anonfun$flatMap$1.apply(TraversableLike.scala:241)
	at scala.collection.immutable.List.foreach(List.scala:381)
	at scala.collection.TraversableLike$class.flatMap(TraversableLike.scala:241)
	at scala.collection.immutable.List.flatMap(List.scala:344)
	at org.apache.spark.sql.execution.datasources.DataSource.resolveRelation(DataSource.scala:379)
	at org.apache.spark.sql.DataFrameReader.load(DataFrameReader.scala:149)
	at org.apache.spark.sql.DataFrameReader.json(DataFrameReader.scala:294)
	at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at sun.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:95)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:55)
	at java.lang.reflect.Method.invoke(Method.java:507)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:237)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
	at py4j.Gateway.invoke(Gateway.java:280)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.GatewayConnection.run(GatewayConnection.java:214)
	at java.lang.Thread.run(Thread.java:785)

In [4]:
events = spark.read.json('sample+source+data.txt')

# Step Three: Examine the Schema and Data

In [113]:
print events.printSchema()

root
 |-- assessment_id: string (nullable = true)
 |-- created_at: string (nullable = true)
 |-- id: string (nullable = true)
 |-- log_events: array (nullable = true)
 |    |-- element: struct (containsNull = true)
 |    |    |-- altKey: string (nullable = true)
 |    |    |-- bubbles: string (nullable = true)
 |    |    |-- button: string (nullable = true)
 |    |    |-- buttons: string (nullable = true)
 |    |    |-- cancelable: string (nullable = true)
 |    |    |-- clientX: string (nullable = true)
 |    |    |-- clientY: string (nullable = true)
 |    |    |-- ctrlKey: string (nullable = true)
 |    |    |-- currentTarget: string (nullable = true)
 |    |    |-- detail: string (nullable = true)
 |    |    |-- eventPhase: string (nullable = true)
 |    |    |-- event_type: string (nullable = true)
 |    |    |-- felt_id: string (nullable = true)
 |    |    |-- metaKey: string (nullable = true)
 |    |    |-- offsetX: string (nullable = true)
 |    |    |-- offsetY: string (nullable = true)
 |    |    |-- pageX: string (nullable = true)
 |    |    |-- pageY: string (nullable = true)
 |    |    |-- relatedTarget: string (nullable = true)
 |    |    |-- screenX: string (nullable = true)
 |    |    |-- screenY: string (nullable = true)
 |    |    |-- shiftKey: string (nullable = true)
 |    |    |-- target: string (nullable = true)
 |    |    |-- timeStamp: string (nullable = true)
 |    |    |-- toElement: string (nullable = true)
 |    |    |-- which: string (nullable = true)
 |-- user_id: string (nullable = true)

None

In [114]:
events.toPandas()

,assessment_id,created_at,id,log_events,user_id
0,2,7/14/2016 2:13:53 AM,9290,"[(false, true, 0, 0, true, 912, 353, false, BO...",26
1,2,7/14/2016 2:13:55 AM,9291,"[(false, true, 0, 0, true, 912, 353, true, BOD...",26
2,23,7/14/2016 2:14:05 AM,9292,"[(temp alt text, true, 0, 0, true, 925, 360, f...",22

# Step Four: Create a Temproray View to Subset the Nested Portion

In [6]:
events.registerTempTable('events')

event1 = spark.sql('select assessment_id, created_at, id, explode(log_events) as log_events, user_id from events')
event1.toPandas()

,assessment_id,created_at,id,log_events,user_id
0,2,7/14/2016 2:13:53 AM,9290,"(false, true, 0, 0, true, 912, 353, false, BOD...",26
1,2,7/14/2016 2:13:53 AM,9290,"(false, true, 0, 0, true, 912, 353, false, BOD...",26
2,2,7/14/2016 2:13:53 AM,9290,"(false, true, 0, 0, true, 912, 353, false, BOD...",26
3,2,7/14/2016 2:13:53 AM,9290,"(false, true, 0, 0, true, 927, 341, false, BOD...",26
4,2,7/14/2016 2:13:53 AM,9290,"(false, true, 0, 0, true, 936, 335, false, BOD...",26
5,2,7/14/2016 2:13:53 AM,9290,"(false, true, 0, 0, true, 886, 443, false, TEX...",26
6,2,7/14/2016 2:13:55 AM,9291,"(false, true, 0, 0, true, 912, 353, true, BODY...",26
7,2,7/14/2016 2:13:55 AM,9291,"(false, true, 0, 0, true, 912, 353, false, BOD...",26
8,2,7/14/2016 2:13:55 AM,9291,"(false, true, 0, 0, true, 912, 353, false, BOD...",26
9,2,7/14/2016 2:13:55 AM,9291,"(false, true, 0, 0, true, 927, 341, false, BOD...",26
10,2,7/14/2016 2:13:55 AM,9291,"(false, true, 0, 0, true, 936, 335, false, BOD...",26
11,2,7/14/2016 2:13:55 AM,9291,"(false, true, 0, 0, true, 886, 443, false, TEX...",26
12,23,7/14/2016 2:14:05 AM,9292,"(temp alt text, true, 0, 0, true, 925, 360, fa...",22
13,23,7/14/2016 2:14:05 AM,9292,"(false, true, 0, 0, true, 912, 353, false, BOD...",22
14,23,7/14/2016 2:14:05 AM,9292,"(false, true, 0, 0, true, 912, 353, false, BOD...",22
15,23,7/14/2016 2:14:05 AM,9292,"(false, true, 0, 0, true, 927, 341, false, BOD...",22
16,23,7/14/2016 2:14:05 AM,9292,"(false, true, 0, 0, true, 936, 335, false, BOD...",22
17,23,7/14/2016 2:14:05 AM,9292,"(false, true, 0, 0, true, 886, 443, false, TEX...",22

In [7]:
event2 = event1.rdd.map(lambda x: x[3]).toDF()
event2.toPandas()

,altKey,bubbles,button,buttons,cancelable,clientX,clientY,ctrlKey,currentTarget,detail,...,pageX,pageY,relatedTarget,screenX,screenY,shiftKey,target,timeStamp,toElement,which
0,false,true,0,0,true,912,353,false,BODY,0,...,912,353,None,913,436,false,BODY,1468524065236,BODY,0
1,false,true,0,0,true,912,353,false,BODY,0,...,912,353,None,913,436,false,BODY,1468524065238,BODY,0
2,false,true,0,0,true,912,353,false,BODY,0,...,912,353,None,913,436,false,BODY,1468524065252,BODY,0
3,false,true,0,0,true,927,341,false,BODY,0,...,927,341,None,928,424,false,BODY,1468524065255,BODY,0
4,false,true,0,0,true,936,335,false,BODY,0,...,936,335,None,937,418,false,BODY,1468524065257,BODY,0
5,false,true,0,0,true,886,443,false,TEXTAREA,0,...,886,443,BUTTON,976,571,false,TEXTAREA,1470137027138,TEXTAREA,0
6,false,true,0,0,true,912,353,true,BODY,0,...,912,353,None,913,436,false,BODY,1468524065237,BODY,0
7,false,true,0,0,true,912,353,false,BODY,0,...,912,353,None,913,436,false,BODY,1468524065237,BODY,0
8,false,true,0,0,true,912,353,false,BODY,0,...,912,353,None,913,436,false,BODY,1468524065252,BODY,0
9,false,true,0,0,true,927,341,false,BODY,0,...,927,341,None,928,424,false,BODY,1468524065255,BODY,0
10,false,true,0,0,true,936,335,false,BODY,0,...,936,335,None,937,418,false,BODY,1468524065257,BODY,0
11,false,true,0,0,true,886,443,false,TEXTAREA,0,...,886,443,BUTTON,976,571,false,TEXTAREA,1470137027150,TEXTAREA,0
12,temp alt text,true,0,0,true,925,360,false,BODY,0,...,934,365,None,913,436,false,BODY,1468524065345,BODY,0
13,false,true,0,0,true,912,353,false,BODY,0,...,912,353,None,913,436,false,BODY,1468524065500,BODY,0
14,false,true,0,0,true,912,353,false,BODY,0,...,912,353,None,913,436,false,BODY,1468524065252,BODY,0
15,false,true,0,0,true,927,341,false,BODY,0,...,927,341,None,928,424,false,BODY,1468524065255,BODY,0
16,false,true,0,0,true,936,335,false,BODY,0,...,936,335,None,937,418,false,BODY,1468524065257,BODY,0
17,false,true,0,0,true,886,443,false,TEXTAREA,0,...,886,443,BUTTON,976,571,false,TEXTAREA,1470137028392,TEXTAREA,0

In [8]:
event1 = event1.select('assessment_id', 'created_at', 'id', 'user_id')
event1.toPandas()

   assessment_id             created_at    id user_id
0              2  7/14/2016  2:13:53 AM  9290      26
1              2  7/14/2016  2:13:53 AM  9290      26
2              2  7/14/2016  2:13:53 AM  9290      26
3              2  7/14/2016  2:13:53 AM  9290      26
4              2  7/14/2016  2:13:53 AM  9290      26
5              2  7/14/2016  2:13:53 AM  9290      26
6              2  7/14/2016  2:13:55 AM  9291      26
7              2  7/14/2016  2:13:55 AM  9291      26
8              2  7/14/2016  2:13:55 AM  9291      26
9              2  7/14/2016  2:13:55 AM  9291      26
10             2  7/14/2016  2:13:55 AM  9291      26
11             2  7/14/2016  2:13:55 AM  9291      26
12            23  7/14/2016  2:14:05 AM  9292      22
13            23  7/14/2016  2:14:05 AM  9292      22
14            23  7/14/2016  2:14:05 AM  9292      22
15            23  7/14/2016  2:14:05 AM  9292      22
16            23  7/14/2016  2:14:05 AM  9292      22
17            23  7/14/2016  2:14:05 AM  9292      22

In [14]:
from pyspark.sql.functions import monotonically_increasing_id 

event1withindex = event1.select("*").withColumn("index", monotonically_increasing_id())
event1withindex.toPandas()

   assessment_id             created_at    id user_id  index
0              2  7/14/2016  2:13:53 AM  9290      26      0
1              2  7/14/2016  2:13:53 AM  9290      26      1
2              2  7/14/2016  2:13:53 AM  9290      26      2
3              2  7/14/2016  2:13:53 AM  9290      26      3
4              2  7/14/2016  2:13:53 AM  9290      26      4
5              2  7/14/2016  2:13:53 AM  9290      26      5
6              2  7/14/2016  2:13:55 AM  9291      26      6
7              2  7/14/2016  2:13:55 AM  9291      26      7
8              2  7/14/2016  2:13:55 AM  9291      26      8
9              2  7/14/2016  2:13:55 AM  9291      26      9
10             2  7/14/2016  2:13:55 AM  9291      26     10
11             2  7/14/2016  2:13:55 AM  9291      26     11
12            23  7/14/2016  2:14:05 AM  9292      22     12
13            23  7/14/2016  2:14:05 AM  9292      22     13
14            23  7/14/2016  2:14:05 AM  9292      22     14
15            23  7/14/2016  2:14:05 AM  9292      22     15
16            23  7/14/2016  2:14:05 AM  9292      22     16
17            23  7/14/2016  2:14:05 AM  9292      22     17

In [15]:
event2withindex = event2.select("*").withColumn("index", monotonically_increasing_id())
event2withindex.toPandas()

,altKey,bubbles,button,buttons,cancelable,clientX,clientY,ctrlKey,currentTarget,detail,...,pageY,relatedTarget,screenX,screenY,shiftKey,target,timeStamp,toElement,which,index
0,false,true,0,0,true,912,353,false,BODY,0,...,353,None,913,436,false,BODY,1468524065236,BODY,0,0
1,false,true,0,0,true,912,353,false,BODY,0,...,353,None,913,436,false,BODY,1468524065238,BODY,0,1
2,false,true,0,0,true,912,353,false,BODY,0,...,353,None,913,436,false,BODY,1468524065252,BODY,0,2
3,false,true,0,0,true,927,341,false,BODY,0,...,341,None,928,424,false,BODY,1468524065255,BODY,0,3
4,false,true,0,0,true,936,335,false,BODY,0,...,335,None,937,418,false,BODY,1468524065257,BODY,0,4
5,false,true,0,0,true,886,443,false,TEXTAREA,0,...,443,BUTTON,976,571,false,TEXTAREA,1470137027138,TEXTAREA,0,5
6,false,true,0,0,true,912,353,true,BODY,0,...,353,None,913,436,false,BODY,1468524065237,BODY,0,6
7,false,true,0,0,true,912,353,false,BODY,0,...,353,None,913,436,false,BODY,1468524065237,BODY,0,7
8,false,true,0,0,true,912,353,false,BODY,0,...,353,None,913,436,false,BODY,1468524065252,BODY,0,8
9,false,true,0,0,true,927,341,false,BODY,0,...,341,None,928,424,false,BODY,1468524065255,BODY,0,9
10,false,true,0,0,true,936,335,false,BODY,0,...,335,None,937,418,false,BODY,1468524065257,BODY,0,10
11,false,true,0,0,true,886,443,false,TEXTAREA,0,...,443,BUTTON,976,571,false,TEXTAREA,1470137027150,TEXTAREA,0,11
12,temp alt text,true,0,0,true,925,360,false,BODY,0,...,365,None,913,436,false,BODY,1468524065345,BODY,0,12
13,false,true,0,0,true,912,353,false,BODY,0,...,353,None,913,436,false,BODY,1468524065500,BODY,0,13
14,false,true,0,0,true,912,353,false,BODY,0,...,353,None,913,436,false,BODY,1468524065252,BODY,0,14
15,false,true,0,0,true,927,341,false,BODY,0,...,341,None,928,424,false,BODY,1468524065255,BODY,0,15
16,false,true,0,0,true,936,335,false,BODY,0,...,335,None,937,418,false,BODY,1468524065257,BODY,0,16
17,false,true,0,0,true,886,443,false,TEXTAREA,0,...,443,BUTTON,976,571,false,TEXTAREA,1470137028392,TEXTAREA,0,17

In [21]:
joined = event1withindex.join(event2withindex, event1withindex['index']==event2withindex['index'])
joined=joined.drop('index')
joined.toPandas()

,assessment_id,created_at,id,user_id,altKey,bubbles,button,buttons,cancelable,clientX,...,pageX,pageY,relatedTarget,screenX,screenY,shiftKey,target,timeStamp,toElement,which
0,2,7/14/2016 2:13:53 AM,9290,26,false,true,0,0,true,912,...,912,353,None,913,436,false,BODY,1468524065236,BODY,0
1,2,7/14/2016 2:13:53 AM,9290,26,false,true,0,0,true,912,...,912,353,None,913,436,false,BODY,1468524065238,BODY,0
2,2,7/14/2016 2:13:53 AM,9290,26,false,true,0,0,true,912,...,912,353,None,913,436,false,BODY,1468524065252,BODY,0
3,2,7/14/2016 2:13:53 AM,9290,26,false,true,0,0,true,927,...,927,341,None,928,424,false,BODY,1468524065255,BODY,0
4,2,7/14/2016 2:13:53 AM,9290,26,false,true,0,0,true,936,...,936,335,None,937,418,false,BODY,1468524065257,BODY,0
5,2,7/14/2016 2:13:53 AM,9290,26,false,true,0,0,true,886,...,886,443,BUTTON,976,571,false,TEXTAREA,1470137027138,TEXTAREA,0
6,2,7/14/2016 2:13:55 AM,9291,26,false,true,0,0,true,912,...,912,353,None,913,436,false,BODY,1468524065237,BODY,0
7,2,7/14/2016 2:13:55 AM,9291,26,false,true,0,0,true,912,...,912,353,None,913,436,false,BODY,1468524065237,BODY,0
8,2,7/14/2016 2:13:55 AM,9291,26,false,true,0,0,true,912,...,912,353,None,913,436,false,BODY,1468524065252,BODY,0
9,2,7/14/2016 2:13:55 AM,9291,26,false,true,0,0,true,927,...,927,341,None,928,424,false,BODY,1468524065255,BODY,0
10,2,7/14/2016 2:13:55 AM,9291,26,false,true,0,0,true,936,...,936,335,None,937,418,false,BODY,1468524065257,BODY,0
11,2,7/14/2016 2:13:55 AM,9291,26,false,true,0,0,true,886,...,886,443,BUTTON,976,571,false,TEXTAREA,1470137027150,TEXTAREA,0
12,23,7/14/2016 2:14:05 AM,9292,22,temp alt text,true,0,0,true,925,...,934,365,None,913,436,false,BODY,1468524065345,BODY,0
13,23,7/14/2016 2:14:05 AM,9292,22,false,true,0,0,true,912,...,912,353,None,913,436,false,BODY,1468524065500,BODY,0
14,23,7/14/2016 2:14:05 AM,9292,22,false,true,0,0,true,912,...,912,353,None,913,436,false,BODY,1468524065252,BODY,0
15,23,7/14/2016 2:14:05 AM,9292,22,false,true,0,0,true,927,...,927,341,None,928,424,false,BODY,1468524065255,BODY,0
16,23,7/14/2016 2:14:05 AM,9292,22,false,true,0,0,true,936,...,936,335,None,937,418,false,BODY,1468524065257,BODY,0
17,23,7/14/2016 2:14:05 AM,9292,22,false,true,0,0,true,886,...,886,443,BUTTON,976,571,false,TEXTAREA,1470137028392,TEXTAREA,0

In [24]:
print(joined.columns)

['assessment_id', 'created_at', 'id', 'user_id', 'altKey', 'bubbles', 'button', 'buttons', 'cancelable', 'clientX', 'clientY', 'ctrlKey', 'currentTarget', 'detail', 'eventPhase', 'event_type', 'felt_id', 'metaKey', 'offsetX', 'offsetY', 'pageX', 'pageY', 'relatedTarget', 'screenX', 'screenY', 'shiftKey', 'target', 'timeStamp', 'toElement', 'which']

# Step X: Perform Sample Query

In [26]:
joined.registerTempTable('logs_as_columns')

In [28]:
spark.sql("select * from logs_as_columns WHERE id='9290'").toPandas()

,assessment_id,created_at,id,user_id,altKey,bubbles,button,buttons,cancelable,clientX,...,pageX,pageY,relatedTarget,screenX,screenY,shiftKey,target,timeStamp,toElement,which
0,2,7/14/2016 2:13:53 AM,9290,26,false,true,0,0,true,912,...,912,353,None,913,436,false,BODY,1468524065236,BODY,0
1,2,7/14/2016 2:13:53 AM,9290,26,false,true,0,0,true,912,...,912,353,None,913,436,false,BODY,1468524065238,BODY,0
2,2,7/14/2016 2:13:53 AM,9290,26,false,true,0,0,true,912,...,912,353,None,913,436,false,BODY,1468524065252,BODY,0
3,2,7/14/2016 2:13:53 AM,9290,26,false,true,0,0,true,927,...,927,341,None,928,424,false,BODY,1468524065255,BODY,0
4,2,7/14/2016 2:13:53 AM,9290,26,false,true,0,0,true,936,...,936,335,None,937,418,false,BODY,1468524065257,BODY,0
5,2,7/14/2016 2:13:53 AM,9290,26,false,true,0,0,true,886,...,886,443,BUTTON,976,571,false,TEXTAREA,1470137027138,TEXTAREA,0

# Step X: Write to Parquet

In [29]:
joined.write.parquet("joined.parquet")